body {
    font-family: 'Acto-UltraLight',sans-serif;
    background-color: #fbe9e7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
main {
    flex: 1 0 auto;
}

footer.page-footer {
       background-color: dimgrey;
}
@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}

a {
    text-decoration: none;
}

a:hover, a:active, a:visited {
    background-color: #4dd0e1 ;
    text-decoration: none;
    color: inherit;
}

.side-nav {
    width: auto;
    color: dimgrey;
    will-change: left;
}


/*
#ea454b;
.lo {
    margin: 3%;
}.contactme {
    background-image: url("/img/to (44).jpg");
    background-size: cover;
    color: #fbe9e7;
}*/

.brand-logo {
    background-image: url("/img/peacockLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#contactForm {
    background-color: #eeeeee;
}

.skillsimg {
    height: 70px;
    margin: 40px;
}

.skills {
    display: inline-block;
}
.list {
    height: 100%;
}

fieldset {
    border: none;
}



.two, .three, .four, .five {
    min-height: 200px;
    margin: 2%;

}

.three {
    background-image: url("/img/majka2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.four {
    background-image: url("/img/keynote_animation_material_design.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lil {
    display: inline-block;
}

.text {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
}
.text .content {
    display: inline;
}
.text .dash {
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: #3498db;
    animation: blink .5s infinite linear;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*NAV BUTTON*/
.fond {
    position: absolute;
    padding-top: 85px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b50ce;
}

.contener {
    width: 50px;
    height: 41px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:active {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(360deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(360deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(360deg);
    transition: all 0.4s linear;
    transform: rotate(360deg);
    cursor: pointer;
}

.contener .menu1 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 3px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:hover .menu1 {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(-45deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(-45deg);
    transition: all 0.4s linear;
    transform: rotate(-45deg);
    width: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.contener .menu2 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
}

.contener:hover .menu2 {
    border-radius: 5px;
}

.contener .menu3 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
    margin-top: 10px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:hover .menu3 {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(45deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(45deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(45deg);
    transition: all 0.4s linear;
    transform: rotate(45deg);
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
}
/*hamburger*/

#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: #3b50ce;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}
