body {
    font-family: 'Acto-UltraLight',sans-serif;
    background-color: #fafafa;
}

html {
    font-size: 17px;
}
.row {
    margin-bottom: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
main {
    flex: 1 0 auto;
}

.avatar {
    background-image: url("/img/avatar/a (10).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}

.vizitka {
    background-image: url("/img/Logo/BUSINESScard.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.contactme {
    min-height: 500px;
    -webkit-animation-name: example5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example5;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.container {
    min-height: 100vh;
}
footer.page-footer {
       background-color: dimgrey;
        padding-top: 0px;
}
@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: #4dd0e1 ;
    text-decoration: none;
}

.side-nav {
    color: dimgrey;
}

.side-nav li {
padding: 0px;
}

/*share buttons*/
.share {
    background-color: transparent;
    display: inline-block;
}


/*
#ea454b;
.lo {
    margin: 3%;
}.contactme {
    background-image: url("/img/to (44).jpg");
    background-size: cover;
    color: #fbe9e7;
}*/

.brand-logo {
    background-image: url("/img/Logo/mor.png");
    background-size: contain;
    background-repeat: no-repeat;

}

#contactForm {
    background-color: #eeeeee;
}

.skillsimg {
    height: 70px;
    margin: 40px;
}

.skills {
    display: inline-block;
}
.list {
    height: 100%;
}

fieldset {
    border: none;
}

/*ABOUT ME*/

.two, .three, .four, .five, .one {
    min-height: 200px;
    margin: 2%;
    position: relative;

}

/* Animation for two */
.two {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@-webkit-keyframes example {
    0%   {left:-80px; top:0px;}
    100%  {left:0px; top:0px;}
}

@keyframes example {
    0%   {left:-80px; top:0px;} /* Standard syntax */
    100%  {left:0px; top:0px;}

    }
.one {
    background-image: url("/img/google-material-design.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation-name: example3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example3;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Animation for three */
.three {
    background-image: url("/img/majka2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation-name: example3; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example3;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@-webkit-keyframes example3 {
    0%   {left:0px; top:-80px;}
    100%  {left:0px; top:0px;}
}

@keyframes example3 {
    0%   {left:0px; top:-80px;} /* Standard syntax */
    100%  {left:0px; top:0px;}
}


/* Animation for four */
.four {
    background-image: url("/img/keynote_animation_material_design.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-animation-name: example4; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example4;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@-webkit-keyframes example4 {
    0%   {left:0px; bottom:-80px;}
    100%  {left:0px; bottom:0px;}
}

@keyframes example4 {
    0%   {left:0px; bottom:-80px;} /* Standard syntax */
    100%  {left:0px; bottom:0px;}
}



/* Animation for four */
.five {
    -webkit-animation-name: example5; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: example5;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@-webkit-keyframes example5 {
    0%   {right:-80px; top:0px;}
    100%  {right:0px; top:0px;}
}

@keyframes example5 {
    0%   {right:-80px; top:0px;} /* Standard syntax */
    100%  {right:0px; top:0px;}
}


.lil {
    display: inline-block;
}

.text .content {
    display: inline;
    color: aliceblue;
    font-size: medium;
}

.text {
    background-color: #90a4ae;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
}
.text .content {
    display: inline;
}
.text .dash {
    display: inline-block;
    height: 3px;
    width: 20px;
    background-color: #3498db;
    animation: blink .5s infinite linear;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*NAV BUTTON*/
.fond {
    position: absolute;
    padding-top: 85px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b50ce;
}

.contener {
    width: 50px;
    height: 41px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:active {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(360deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(360deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(360deg);
    transition: all 0.4s linear;
    transform: rotate(360deg);
    cursor: pointer;
}

.contener .menu1 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 3px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:hover .menu1 {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(-45deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(-45deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(-45deg);
    transition: all 0.4s linear;
    transform: rotate(-45deg);
    width: 30px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.contener .menu2 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
}

.contener:hover .menu2 {
    border-radius: 5px;
}

.contener .menu3 {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
    margin-top: 10px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.contener:hover .menu3 {
    -webkit-transition: all 0.4s linear;
    -webkit-transform: rotate(45deg);
    -moz-transition: all 0.4s linear;
    -moz-transform: rotate(45deg);
    -ms-transition: all 0.4s linear;
    -ms-transform: rotate(45deg);
    transition: all 0.4s linear;
    transform: rotate(45deg);
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
}
/*hamburger*/

#nav-toggle { position: absolute; left: 50%; top: 50%; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background-color: #3b50ce;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/*MY SKILLS chart*/
.chart {
    position: relative;
    display: inline-block;
    margin: 0px;
    /*color: #999;*/
    font-size: 14px;
    text-align: center;
    height: 160px;
    width: 160px;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chart p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

.charts {
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: lightblue;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*tree*/
#canvas {
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
}
#text {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    pointer-events:  none;
}

#text div {
    position:absolute;
    color:#888;
    left:0;
    width:100%;
    text-align:center;
    top:-48px;
    font-family: 'Poiret One', cursive;
    font-size:48px;
}

/*share icons*/
.navbar-fixed i {
    font-size: 20px !important;
}

/*Falling polygons*/
@keyframes sway {
    0% {
        transform: rotateZ(-15deg) rotateX(55deg);
    }
    30% {
        transform: rotateZ(20deg) rotateX(60deg);
        animation-timing-function: ease-in-out;
    }
    60% {
        transform: rotateZ(-20deg) rotateX(55deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotateZ(0deg) rotateX(58deg);
        animation-timing-function: cubic-bezier(0.990, 0.000, 0.890, 0.435);
    }
}

@keyframes fall {
    60% {
        -webkit-filter: drop-shadow(0px 60px 40px rgba(0, 0, 0, 0));
    }
    100% {
        margin-top: 500px;
        -webkit-filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.6));
    }
}

div#fall-container {
    height: auto;
    /*overflow: hidden;*/
    position: relative;
    perspective-origin: center;
    perspective: 1800px;
}

.imgs {
    position: absolute;
    width: 28%;
    transform-origin: 0px -400px 0px;
    animation-name: fall, sway;
    animation-duration: 7s, 8s;
    animation-fill-mode: both;
    animation-timing-function: linear, ease-in-out;
}

#leaf1 {
    top: -60px;
}

#leaf2 {
    top: -45px;
    left: 50%;
    animation-delay: 2s;
    transform: rotateX(58deg);
}

#leaf3 {
    width: 28%;
    top: -122px;
    left: 22%;
    animation-delay: 3.2s;
}

#leaf4 {
    width: 25%;
    top: -55px;
    left: 38%;
    animation-delay: 4.4s;
}

#leaf5 {
    width: 28%;
    top: -18px;
    left: 70%;
    animation-delay: 2.25s;
}

#leaf6 {
    width: 23%;
    top: 0px;
    left: 55%;
    animation-delay: 3.8s;
}

/*Scroll to top button*/
.Top {
    text-align: center;
    position : fixed ;
    bottom : 20px;
    right : 20px ;
    background-image: url("/img/bo.png");
    background-size: contain;
    background: #00838f;
    padding : 3px 5px;
    width: 55.5px;
    height: 55.5px;
    box-sizing : border-box ;
    font-size : 30px;
    border-radius : 100% ;
    color : white ;
    cursor : pointer ;
    z-index : 10 ;
    display : none;
    box-shadow: 0px 0px 5px 0px #333;
}

/*scroll bottom*/
section {
    float: left;
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px 0px #333;
}
/* the important styles */

.arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: -5em;
    margin-left: -5em;
    background: #00838f;
    width: 55px;
    height: 55px;
    padding: 4em 2em;
    border-radius: 50%;
    font-size: 0.3333em;
    display: block;
    box-shadow: 0px 0px 5px 0px #333;
}

.arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

.arrow:after {
    content: '';
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #00838f transparent transparent transparent;
    -webkit-transform: rotate(360deg)
}

.hint {
    position: absolute;
    top: 0.6em;
    width: 100%;
    left: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: #fff;
    opacity: 0;
}

.arrow-wrap:hover .hint {
    opacity: 1;
}

@-webkit-keyframes arrows {
    0% {
        top: 0;
    }
    10% {
        top: 12%;
    }
    20% {
        top: 0;
    }
    30% {
        top: 12%;
    }
    40% {
        top: -12%;
    }
    50% {
        top: 12%;
    }
    60% {
        top: 0;
    }
    70% {
        top: 12%;
    }
    80% {
        top: -12%;
    }
    90% {
        top: 12%;
    }
    100% {
        top: 0;
    }
}

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}
/*  this is the unimportant CSS used just to layout the content  */

.scroll {

    margin-bottom: 60px;
    margin-top: 30px;
}