<template name="aboutme">
    <div class="row one">
        <div class="col two s12 m12 l8 z-depth-2">
<h2>MARIA NEMCOVA </h2>
            <p>My name is Maria Nemcova, I come from Slovakia and I am currently living in Paris. I graduated in Rescue Services – fire protection engineering in 2014.
                I have knowledge in civil engineering, crisis management and IT (web development and design).</p>

        </div>
        <div class="col three s12 m12 l4 z-depth-2">

        </div>
    </div>
    <div class="row one">
        <div class="col four s12 m12 l3 z-depth-2">

        </div>
        <div class="col five s12 m12 l9 z-depth-2">
     Highly driven, creative and organized individual willing to learn a lot from new experiences,
    which I am looking to do all my life. Versatile and dynamic with a constant good mood,
    I'll do my best to fulfil your work expectations.
        </div>
    </div>

</template>
