<template name="aboutme">
    <div class="row">
        <div class="col two s12 m12 l7 z-depth-2 light-blue lighten-4">
            <h2>MARIA NEMCOVA </h2>
            My name is Maria Nemcova, I come from Slovakia and I am currently living in Paris.
            I want to succeed in a stimulating and challenging
            environment that will provide me with advancement opportunities.
        </div>

        <div class="col three s12 m12 l4 z-depth-2">
        </div>
    </div>

    <div class="row">
        <div class="col four s12 m12 l3 z-depth-2">

        </div>
        <div class="col five s12 m12 l8 z-depth-2 light-blue lighten-3">
            MY SKILLS and KNOWLEDGE <br>
            HTML5, CSS3, JavaScript, JQuery,<br>
            Meteor, Mongo DB, Iron router,<br>
            Web design (Material design, Polymer) / UX,<br>
            Php, Wordpress, MySQL,<br>
            Photoshop,<br>
            Version control (Git / GitHub),<br>
            Cross-browser compatibility,<br>
            Responsive web design,…
        </div>
    </div>

    <!--<div align="center" style="background-color: #3b50ce; padding-top:50px; padding-bottom:50px;">
       <div class="contener">
           <div class="menu1">&nbsp;</div>
           <div class="menu2">&nbsp;</div>
           <div class="menu3">&nbsp;</div>
       </div>
   </div>

  <a id="nav-toggle" href="#"><span></span></a>-->
</template>
