<template name="contact">
        <div class="row">
        <!--<div class="col s12 m4 offset-m4 l6 offset-l3">-->
            <div class="col s12 m6 l6">
                <h5>Contact me</h5>
                <div class="card vizitka"></div>
            </div>

            <div class="col s12 m6 l6 contactme">
                <h5>Write me</h5>
                <div class="z-depth-2">
                {{>contactForm}}
                <!--<a href="mailto:#">maria.nemcova@outlook.com</a>-->
                </div>
            </div>
    </div>
</template>