<template name="header">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MariWeb&nbsp;&nbsp;</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <div class="bla" align="center" style="padding:7px;">
                <div class="contener">
                    <div class="menu1">&nbsp;</div>
                    <div class="menu2">&nbsp;</div>
                    <div class="menu3">&nbsp;</div>
                </div>
            </div></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="aboutme" class="aboutme">About me</a></li>
                <li><a class="resume" href="/resume">Resume</a></li>
                <li><a href="contact" class="contact">Contact</a></li>
                <li><a href="portfolio" class="portfolio">Portfolio</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="aboutme" class="aboutme">About me</a></li>
                <li><a class="resume" href="/resume">Resume</a></li>
                <li><a href="contact" class="contact">Contact</a></li>
                <li><a href="portfolio" class="portfolio">Portfolio</a></li>
            </ul>
        </div>
    </nav>
</template>