<template name="header">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"> MariWeb</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="aboutme" class="aboutme">About me</a></li>
                <li><a class="resume" href="/resume">Resume</a></li>
                <li><a href="contact" class="contact">Contact</a></li>
                <li><a href="portfolio" class="portfolio">Portfolio</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="aboutme" class="aboutme">About me</a></li>
                <li><a class="resume" href="/resume">Resume</a></li>
                <li><a href="contact" class="contact">Contact</a></li>
                <li><a href="portfolio" class="portfolio">Portfolio</a></li>
            </ul>
        </div>
    </nav>
</template>