<template name="myskills">
    <div class="container">
        <h1>Flat Skills charts with "Easy Pie chart"</h1>
        <div class="chart" data-percent="80">HTML5</div>
        <div class="chart" data-percent="30">CSS3</div>
        <div class="chart" data-percent="60">SASS</div>
        <div class="chart" data-percent="50">jQuery</div>
        <div class="chart" data-percent="11">AngularJS</div>
        <div class="chart" data-percent="20">BackboneJS</div>
        <div class="chart" data-percent="30">NodeJS</div>
        <div class="chart" data-percent="60">PHP</div>
    </div>
</template>