<template name="portfolio">

    <img class="materialboxed" width="44%" src="./img/Portfolio/to. (1).jpg">
    <img class="materialboxed" width="50%" src="./img/Portfolio/to. (2).jpg">
    <img class="materialboxed" width="44%" src="./img/Portfolio/to. (3).jpg">
    <img class="materialboxed" width="50%" src="./img/Portfolio/to. (4).jpg">
    <img class="materialboxed" width="44%" src="./img/Portfolio/to. (5).jpg">
    <img class="materialboxed" width="50%" src="./img/Portfolio/to. (6).jpg">
    <img class="materialboxed" width="44%" src="./img/Portfolio/to. (7).jpg">
    <img class="materialboxed" width="50%" src="./img/Portfolio/to. (8).jpg">

</template>