<template name="share">
    <span>
    <span class='st_googleplus_large stButton stLarge' displayText='Google +'></span>
    <span class='st_facebook_large stButton stLarge' displayText='Facebook'></span>
    <span class='st_twitter_large stButton stLarge' displayText='Tweet'></span>
    <span class='st_sharethis_large stButton stLarge' displayText='ShareThis'></span>
    <span class='st_linkedin_large stButton stLarge' displayText='LinkedIn'></span>
    <span class='st_pinterest_large stButton stLarge' displayText='Pinterest'></span>
    <span class='st_email_large stButton stLarge' displayText='Email'></span>
        </span>
</template>