<template name="skills">

    <!--<a href="#!" class="btn" onclick="Materialize.showStaggeredList('#staggered-test')">Click Me</a>-->
    <ul class="list" data-collapsible="accordion" id="staggered-test">
        <li class="skills">
            <img class="skillsimg" src="./img/Logo/HTML5_Logo_256.png">
        </li>
        <li class="skills">

            <img class="skillsimg" src="./img/Logo/css3.svg">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/javascript_logo.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/jquery-modern-logo.jpg">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/og-image-logo.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/materialdesign_principles_metaphor.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/p-logo.jpg">
        </li>
        <li class="skills">
        <img class="skillsimg" src="./img/Logo/mongodb-gui-tools.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/Adobe_Photoshop_CS6_icon.svg.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/images.png">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/autocad-logo.jpg">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/arcon_architect_logo_by_blin8design-d5ft2qs.jpg">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/download.jpg">
        </li>
        <li class="skills">

        <img class="skillsimg" src="./img/Logo/wordpress-logo1.png">
        </li>
    </ul>

</template>

<!--        <li>
            <img class="skillsimg" src="./img/Logo/HTML5_Logo_256.png">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/css3.svg">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/javascript_logo.png">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/jquery-modern-logo.jpg"><br>
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/og-image-logo.png">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/Adobe_Photoshop_CS6_icon.svg.png">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/materialdesign_principles_metaphor.png">
            <p>Material Design</p>
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/p-logo.jpg">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/mongodb-gui-tools.png">
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/images.png">
            <p>Adobe premier pro</p>
        </li>
        <li>
            <img class="skillsimg" src="./img/Logo/mongodb-gui-tools.png">
        </li>
    </ul>-->