<template name="welcome">
    <div class="card">
        <div class="card-content row">
            <div class="col m8 l10 s12">
                <div class='text'>
                    <div class='content'></div>
                   <!-- <div class='dash'>...</div>-->
                </div>
            </div>
            <div class="col m4 l2 s12"><span class="card-title activator orange-text" style="font-size: 16px">MY SKILLS</span></div>
        </div>
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator obr" src="./img/to (477).jpg">
            <span class="card-title">MARIA NEMCOVA</span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">MY SKILLS<i class="fa fa-times right"></i></span>
            {{> skills}}
        </div>
    </div>

</template>