<template name="aboutme">
    <div class="container">
    <div class="row">
        <div class="col la two s12 m12 l7 z-depth-2 cyan lighten-4">
               <h4>MARIA NEMCOVA</h4>
                <p style="text-align: justify">I'm a UX/UI Designer and Front End Developer from Slovakia,
                currently living in Paris. I enjoy creating simple,
                beautiful and intuitive interface designed websites.
                I want to succeed in a stimulating and challenging
                environment that will provide me with advancement opportunities.</p>
        </div>
        <div class="col la three s12 m12 l4 z-depth-2">
            <!--<img class="responsive-img z-depth-2" src="./img/me/a%20(13)black.jpg">-->
        </div>
    </div>

    <div class="row">
        <div class="col la four s12 m12 l3 z-depth-2">
            <!--<img class="responsive-img z-depth-2" src="./img/me/a%20(13)black.jpg">-->
        </div>
        <div class="col la five s12 m12 l4 z-depth-2 teal lighten-4">
            <ul class="list" data-collapsible="accordion" id="staggered-test">
                <li><h5>Designer</h5></li>
                <li>User Interface Design</li>
                <li>User Experience Design</li>
                <li>Interaction Design</li>
                <li>Website Design</li>
                <li>Branding / Logo Design</li>
            </ul>
        </div>
        <div class="col la five s12 m12 l4 z-depth-2 blue lighten-4">
            <ul class="list" data-collapsible="accordion" id="staggered-test">
                <li><h5>Developer</h5></li>
                <li>Front End Development</li>
                <li>HTML5, CSS3</li>
                <li>JavaScript, jQuery</li>
                <li>Meteor, Mongo DB</li>
                <li>Wordpress, My SQL</li>
            </ul>
        </div>
    </div>

    {{>scrolldown}}

    <div class="row">
        <div id="content">
            {{>resume}}
        </div>
    </div>
    </div>
</template>
