<template name="myskills">
    <div class="container">
    <div>
        <h1>My Skills</h1>
        <div class="row charts z-depth-3">
        <div class="chart" data-percent="80"><p>HTML5</p></div>
        <div class="chart" data-percent="80"><p>CSS3</p></div>
        <div class="chart" data-percent="60"><p>JavaScript</p></div>
        <div class="chart" data-percent="70"><p>jQuery</p></div>
        <div class="chart" data-percent="70"><p>Meteor</p></div>
        <div class="chart" data-percent="30"><p>MySQL</p></div>
        <div class="chart" data-percent="80"><p>Wordpress</p></div>
        <div class="chart" data-percent="80"><p>Material design</p></div>
        <div class="chart" data-percent="60"><p>Polymer</p></div>
        <div class="chart" data-percent="60"><p>Mongo DB</p></div>
        </div>
    </div>
    </div>
</template>