<template name="welcome">
    <div class="row"></div>
    <div class="col s12 m12 l12">
        <p style="font-size: larger; text-align: center">
            Hi, I am Maria Nemcova, front end web developer & web designer.</p>
    </div>
    <div class="row">
        <div class="col s12 m4 l3 offset-l1">
            {{>fallpoly}}
            <h2>Designer</h2>
            <p style="text-align: justify">
                UI/UX Designer with a passion for designing beautiful and functional user experiences.
                I love making simple and clear design on the base of google material design.
            </p>
        </div>
        <div class="col s12 m4 l4 avatar card z-depth-2">
            <!--<img class="responsive-img z-depth-2" src="./img/to%20(4).jpg">-->
        </div>
        <div class="col s12 m4 l3">
            <h2>Developer</h2>
            <p style="text-align: justify">
            Front End Developer who focuses on writing clean, elegant and efficient code by using
            platform Meteor, which makes code lighter and website faster.
            </p>
            <div class='text'>
                <div class='content'>Hello stranger. How are you doing?</div>
                <div class='dash'>...</div>
            </div>
        </div>
    </div>

</template>


