<template name="welcome">
    <div class="row"></div>
    <div class="col s12 m12 l12">
        <p style="font-size: larger; text-align: center">
            Hi, I am Maria Nemcova, front end web developer & web designer.</p>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            {{>fallpoly}}
            <h2>Designer</h2>
            <p style="text-align: justify">
                UI/UX Designer with a passion for designing beautiful and functional user experiences.
                I love making simple and clear design on the base of google material design.
            </p>
        </div>
        <div class="col s12 m4 l4"><div class="card avatar"></div></div>
        <div class="col s12 m4 l4">
            <h2>Developer</h2>
            <p style="text-align: justify">
            Front End Developer who focuses on writing clean, elegant and efficient code by using
            platform Meteor, which makes code lighter and website faster.
            </p>
            <div class='text'>
                <div class='content'></div>
                <div class='dash'>...</div>
            </div>
        </div>
    </div>

</template>


<!--<div class="card">

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">MY SKILLS<i class="fa fa-times right"></i></span>
            {{> skills}}
        </div>

    <div class="card-content row">
        <div class="col m8 l10 s12">
          <h5 style="text-align: center">Hi, I am Maria Nemcova, front end web developer & web designer</h5>
            <!--  <div class='text'>
                 <div class='content'></div>
                <div class='dash'>...</div>
            </div>
        </div>
        <div class="col m4 l2 s12"><span class="card-title activator orange-text"
         onclick="Materialize.showStaggeredList('#staggered-test')" style="font-size: 16px">MY SKILLS</span></div>
    </div>

    <div class="row">
    <div class="col l6 offset-l3 m10 offset-m1 s12">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator obr" src="./img/avatar/a (9).jpg">
        <span class="card-title">MARIA NEMCOVA</span>
    </div>
    </div>
    </div>-->
